//
// Alpha values
//

// foreground colors
$a_fg_2nd:  0.87;
$a_fg_3rd:  0.54;
$a_fg_bdp:  0.40;
$a_fg_dis:  0.28;
$a_fg_sel_2nd: 0.90;
$a_fg_sel_3rd: 0.70;

// track colors
$a_trk_1:   0.12;
$a_trk_2:   0.25;
$a_trk_out: 0.20;

// divider colors
$a_div_0: 0.30;
$a_div_1: $a_div_0 / 2;
$a_div_2: $a_div_1 / 2;

// osd colors
$a_osd: 0.93;

//
// Suffix
//

$asset_suffix: if($variant == dark, '-dark', '');

//
// Radius
//

$r: 999px;
$r_2: 2px + 0.5px;
$r_4: 4px + 0.5px;
$r_8: 8px + 0.5px;

//
// Transitions
//

$tr_p_std: opacity,
           border-color,
           border-image,
           background-color,
           background-image,
           box-shadow,
           -gtk-icon-transform;
$tr_p_ink_n: opacity,
             border-color,
             border-image,
             background-color,
             background-size,
             background-image,
             box-shadow,
             -gtk-icon-transform;
$tr_p_ink_a: opacity,
             border-color,
             border-image,
             background-color,
             box-shadow,
             -gtk-icon-transform;
$tr_p_hdb: opacity;
$tr_p_combo: border-color,
             border-image,
             background-color,
             box-shadow;
$tr_p_ink_combo: border-color,
                 border-image,
                 background-color,
                 background-size,
                 background-image,
                 box-shadow;
$tr_p_deco: box-shadow;

$tr_t_lin: linear;
$tr_t_dec: cubic-bezier(0.0, 0.0, 0.2, 1.0);
$tr_t_std: cubic-bezier(0.4, 0.0, 0.2, 1.0);
$tr_t_acc: cubic-bezier(0.4, 0.0, 1.0, 1.0);

$tr_d_non:  0s;
$tr_d_dly:  0.03s;
$tr_d_sht:  0.1s - $tr_d_dly;
$tr_d_std:  0.2s - $tr_d_dly;
$tr_d_lng:  0.3s - $tr_d_dly;
$tr_d_lngr: 0.45s - $tr_d_dly;
$tr_d_spin: 1.0s;

//
// Background sizing
//

$icon_size: 16px;
$widget_size: 37.3px;
$small_widget: $widget_size * 0.9;
$attention: 6px 6px;
$separator_narrow: 1px 1px;
$separator_wide: 1px 1px, 1px 1px;
$titlebutton_small: if($ref_weight < 1.0, 20px, 28px);
$toolitem_size: $widget_size * 3 / 4;
$min_combo: $icon_size * 1.5;
$tab_indicator_size: 2px;
$switch_width: 50px;
$switch_height: 30px;
$scale: 80% 80%;
$scale_slider_size: 20px;
$scale_trough_size: 2px;
$_marks_length: rem(6px, $sw: 1.0);
$_marks_distance: rem(6px, $sw: 1.0);
$progress_size: $scale_trough_size * 2;
$sidebar_icon: calc((#{rem(4px * 2)} + #{$icon_size}));
$handle_width: 20px;
$handle_height: 25px;
$dev_asset_size: 28px;

//
// Spacing
//

$entry_lr_space: 8px;
$txt_button_lr_space: $ref_size;
$baseline: $ref_size / 10;
// experimental value
$combo_button_padding_0:
  calc((#{rem($widget_size)} - #{$min_combo}) / 2);
$combo_button_padding_2:
  calc((#{rem($widget_size)} - #{$min_combo} + 2px) / 2);
$combo_button_padding_6:
  calc((#{rem($widget_size)} - #{$min_combo} + 6px) / 2);
$toolbar_padding: rem(5.3px);
$pathbar_min_size: $entry_lr_space / 2;
$menuitem_padding: 6px;
$popover_padding: 6px;
$menuitem_height: calc(#{rem($menuitem_padding * 2)} + #{$icon_size});
$menuitem_width: calc((#{rem($menuitem_padding * 2)} + #{$icon_size}) * 2);
$menu_padding: 4px;
$slider_min_width: if($ref_weight < 1.0, rem(8px, $sw: 1.0),
                                         rem(12px, $sw: 1.0));
$slider_min_length: if($ref_weight < 1.0, rem(24px, $sw: 1.0),
                                          rem(32px, $sw: 1.0));
$deco_margin: 10px;
$shadow_margin_2: 0  8px 14px;
$shadow_margin_3: 6px 10px 16px;
$shadow_margin_4: 16px 24px 32px;
$budgie_osd_margin: if($ref_weight < 1.0, 12px, 16px);
